@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

s|Application{
/*   themeColor: #6296ca;*/
   color: #333333;
   skinClass: ClassReference("component.custom.skin.ApplicationSkin");
}

s|TitleWindow{
   borderColor: #f9f9f9;
   borderAlpha: 0.7;
   cornerRadius: 6;
   headerHeight: 15;
   titleStyleName: "titleWinTitle";
   horizontalAlign: center;
   skinClass: ClassReference("component.custom.skin.TitleWindowSkin");
   fontFamily: "MS　P　Gothic","メイリオ", "MS UI Gothic" , "ヒラギノ角ゴシックW3","Osaka", Verdana, Arial;
   paddingLeft: 3;
   paddingRight: 3;
}

.titleWinTitle {
   color: #444444;
   fontSize: 10;
}

mx|Panel{
   borderColor: #f9f9f9;
   borderAlpha: 0.7;
   cornerRadius: 6;
   headerHeight: 15;
   titleStyleName: "titleWinTitle";
   horizontalAlign: center;
}

mx|ApplicationControlBar {
	cornerRadius: 18;
}

mx|MenuBar {
   backgroundSkin : ClassReference("component.custom.skin.MenuBarNoBorderSkin");
   itemDownSkin : ClassReference("component.custom.skin.MenuBarActiveSkin");
}

mx|Accordion.strokePanel{
   borderStyle: none;
   fillColors: #ffffff, #b5b5b5, #ffffff, #9d9d9d;
   selectedFillColors: #e2e9ec, #7a969e;
}

mx|ProgressBar {
/*   barColor: #cccccc;*/
}

s|TextInput{
	skinClass: ClassReference("component.custom.skin.TextInputSkin");
}

s|TextArea{
	skinClass: ClassReference("component.custom.skin.TextAreaSkin");
}

s|Button{
   cornerRadius: 8;
   textRollOverColor: #6296ca;
   fontFamily: "MS　P　Gothic","メイリオ", "MS UI Gothic" , "ヒラギノ角ゴシックW3","Osaka", Verdana, Arial;
   skinClass: ClassReference("component.custom.skin.ButtonSkin");
}

mx|Button{
	cornerRadius: 8;
	fillColor: #ffffff;
	fontFamily: "MS　P　Gothic","メイリオ", "MS UI Gothic" , "ヒラギノ角ゴシックW3","Osaka", Verdana, Arial;
	/*fillColors: #ffffff, #ffffff, #ffffff, #ffffff;*/
    /*themeColor: #66cccc;
	fillColorRatios: 0, 255;*/
	textRollOverColor: #6296ca;
	textIndent: 0;
    paddingLeft: 3;
    paddingRight: 3;
}

mx|LinkButton {
   color: #6296ca;
   cornerRadius: 1;
}

mx|ToggleButtonBar{
	buttonWidth: 60;
	buttonStyleName: "toggleButtonBarButtonStyle";
}

.toggleButtonBarButtonStyle{
	cornerRadius: 8;
	fillColor: #ffffff;
	textIndent: 0;
    paddingLeft: 0;
    paddingRight: 0;
}

mx|Alert {
	messageStyleName: "alertMessage";
	backgroundAlpha: 0.6;
	backgroundColor: #ffffff;
	borderAlpha: 0.6;
	borderColor: #ffffff;
/*	dropShadowEnabled: true;*/
}
.alertMessage {
	letterSpacing: 0;
	fontSize: 10;
	fontWeight: normal;
	color: black;
}

mx|TabNavigator {
	paddingLeft: 3;
	paddingRight: 3;
}

mx|ToolTip {
   cornerRadius: 0;
   backgroundColor: #999999;
   color: #ffffff;
}

mx|Button.gallery {
   cornerRadius: 10;
/*   highlightAlphas: 0.9, 0.46;
   fillAlphas: 0.88, 0.82, 0.73, 0.79;
   fillColors: #333333, #999999, #c2d6e1, #86a4b3;
   color: #ffffff;
   textRollOverColor: #1b0e61;
   themeColor: #3399ff;*/
}

s|Panel.tool{
/*	borderThickness:0;*/
	cornerRadius:3; 
	paddingLeft:0; 
	paddingRight:0;
	backgroundAlpha:.8;
	borderStyle:solid;
}

mx|Button.help {
   upSkin: Embed(source='asset/helpButton/upskin.png');
   downSkin: Embed(source='asset/helpButton/overskin.png');
   overSkin: Embed(source='asset/helpButton/overskin.png');
   disabled: Embed(source='asset/helpButton/upskin.png');
}

mx|Button.pan {
   upSkin: Embed(source='asset/interface/pan.png');
   downSkin: Embed(source='asset/interface/pan.png');
   overSkin: Embed(source='asset/interface/pan.png');
   disabled: Embed(source='asset/interface/pan.png');
   selectedUpSkin: Embed(source='asset/interface/pan_sel.png');
   selectedDownSkin: Embed(source='asset/interface/pan_sel.png');
   selectedOverSkin: Embed(source='asset/interface/pan_sel.png');
}